
<div class="contents_row">
  <div class="container">
    <%= form_with model: @tweet, local: true do |form| %>
    <%= form.file_field :image %>
    <%= form.text_field :title %>
    <%= form.text_area :exposition %>
    <%= form.submit "アップロード"%>
    <% end %>
  </div>
</div>


